name: cima-example-ctr
services:
  init-cima-example:
    image: busybox
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 128M
    command: >
      sh -c " chmod -R 0444 /run/firmware/acpi/tables/CCEL &&
              chmod -R 0444 /run/firmware/acpi/tables/data/CCEL &&
              chmod -R 0444 /run/kernel/security/integrity/ima/ascii_runtime_measurements &&
              chmod -R 0757 /run/cima/uds"
    volumes:
      - /sys/firmware/acpi/tables/CCEL:/run/firmware/acpi/tables/CCEL
      - /sys/firmware/acpi/tables/data/CCEL:/run/firmware/acpi/tables/data/CCEL
      - /sys/kernel/security/integrity/ima/ascii_runtime_measurements:/run/kernel/security/integrity/ima/ascii_runtime_measurements
      - /run/cima/uds:/run/cima/uds
  cima-example:
    image: #EXAMPLE_IMAGE
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 128M
    volumes:
      - /sys/firmware/acpi/tables/CCEL:/run/firmware/acpi/tables/CCEL
      - /sys/firmware/acpi/tables/data/CCEL:/run/firmware/acpi/tables/data/CCEL
      - /sys/kernel/security/integrity/ima/ascii_runtime_measurements:/run/kernel/security/integrity/ima/ascii_runtime_measurements
      - /run/cima/uds:/run/cima/uds
    devices:
      - #DEV_TDX:#DEV_TDX
    depends_on:
      init-cima-example:
        condition: service_completed_successfully
